.dapp-sidebar {
  min-height: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 1, 40, 0.5);
  border-right: 1px solid #30363a;
  overflow-y: auto;

  .branding-header {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 28px 0 63px 20px;

    img {
      max-height: 32px;
    }

    .wallet-link {
      margin: 10px;
      display: flex;
      align-items: center;

      p{
        color: #FFFFFF;
        font-family: Mono;
        font-weight: 400;
        font-size: 14px;
        font-feature-settings: "ss09", "ss11";
        margin-left: 8px;
      }
    }
  }

  .dapp-menu-links{
    display: flex;
    align-items: center;

    .dapp-nav {
      display: flex;
      flex-flow: column;

      a {
        margin-top: 10px;
        margin-left: 20px;
        align-items: center;
        margin-bottom: 10px;

        img {
          width: 18px;
          height: 18px;
          margin-right: 12px;
          vertical-align: -4px;
        }
      }

      .button-dapp-menu{
        .dapp-menu-item{
          display: flex;
          flex-direction: row;
          align-items: center;

          p{
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;
            font-family: Montserrat Medium;
            font-feature-settings: "ss01";
          }

          span {
            font-family: Mono;
            font-weight: 400;
            font-size: 12px;
            display: block;
            margin-left: 12px;
            margin-top: 2px;
            color: #b5b9bb;
          }
        }
      }

      .bond-discounts {
        text-align: left;
        padding-left: 52px;
        padding-top: 8px;

        .bond-discounts-title {
          font-family: Mono;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1px;
        }

        a{
          margin-left: 0;
          margin-top: 14px;
          margin-bottom: 14px;
        }

        p {
          font-family: Montserrat;
          font-size: 14px;
          line-height: 18px;
          color: #b5b9bb;
          font-feature-settings: "ss09", "ss11";
        }

        .bond {
          display: block;
          padding: unset;
          margin-bottom: 0 0 1px 0;
          text-decoration: none !important;
          .bond-pair-roi {
            float: right;
            margin-left: 33px;
          }
        }
      }
    }
  }

  .dapp-menu-doc-link{
    margin-top: auto;

    a {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
      }

      p{
        font-family: Montserrat SemiBold;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
  }

  .social-row {
    margin-top: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 1.3rem;
    a {
      &:hover {
        transform: scale(1.1);
      }
      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.MuiDrawer-root{
  .MuiPaper-root{
    z-index: 7;
    overflow-y: hidden;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background: rgba(36, 39, 41, 0.1);
      backdrop-filter: blur(40px);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #181B1C;
    }
  }
}
