.sb-menu-root{
  .sb-menu-btn{
    padding: 12px 48px;
    background: #C3F53C;
    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
    border: 1px solid #0f5806;

    p{
      font-family: Montserrat Medium;
      font-weight: 500;
      font-size: 16px;
      color: #0f5806;
    }
  }
}

.sb-menu-popper{
  margin-top: 10px;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background: rgba(0, 1, 40, 0.7);
    backdrop-filter: blur(100px);
    border: 1px solid #40494e;
  }

  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: rgba(0, 1, 40, 0.9);
  }

  border-radius: 4px;
  overflow: hidden;
  z-index: 10;

  .tooltip{
    display: flex;
    flex-direction: column;

    .tooltip-item{
      text-decoration: none;
      padding: 13px 20px;
      cursor: pointer;

      &:hover{
          background: rgba(255,255,255,0.1);
      }

      p{
          font-family: Montserrat Medium;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          text-align: center;
      }
    }

    .add-tokens{
      display: flex;
      flex-direction: column;

      .add-tokens-title{
        font-family: Mono;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;

        margin: 5px 0px;
      }
    }

    .divider{
      height: 1px;
      background: #FFFFFF;
      border: none;
    }
  }
}