@font-face {
    font-family: "Montserrat SemiBold";
    src: local("Montserrat SemiBold"), url("../fonts/ABCDiatype-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../fonts/ABCDiatype-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat Bold"), url("../fonts/ABCDiatype-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Medium";
    src: local("Montserrat Medium"), url("../fonts/ABCDiatype-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat Light"), url("../fonts/ABCDiatype-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Mono";
    src: local("Mono"), url("../fonts/ABCDiatypeMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mono Bold";
    src: local("Mono Bold"), url("../fonts/ABCDiatypeMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Courier";
    src: local("Courier"), url("../fonts/CourierPrime-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Nib";
    src: local("Nib"), url("../fonts/NibPro-Light.ttf") format("truetype");
}
